body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 5mm;
    list-style-type: none
}

header2 {
    display: flex;
    justify-content: end;
    padding: 2mm;
    list-style-type: none;
}

a {
    color: black;
}

header1 {
    display: flex;
    justify-content: center;
    padding: 10mm;
}

footer img {
    width: 35mm;
    height: 35mm;
    padding-left: 10mm;
}

header3 img {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-left: 15%;
}